body {
  background-color: lightgrey
}

h1 {
  color: red;
  background-color: yellow;
}

h2{
color: beige;
background-color: blueviolet;

}

.Para1 {
  background-color: blanchedalmond;
  color: blue;
  font-size: 25px;
}

.Para2 {
  background-color: blanchedalmond;
  color: blue;
}

.Para3 {
    background-color: rgb(158, 107, 31);
    color: rgb(47, 235, 56);
  }

#googlelink {
  color: white;
  font-size: 25px;
  background-color: rgb(153, 35, 35);
}

#Summit {
    color: white;
    font-size: 25px;
    background-color: rgb(55, 20, 182);
  }