body {
  background-color: lightgrey;
}

h1 {
  color: red;
  background-color: yellow;
}

h2 {
  color: beige;
  background-color: blueviolet;
}

a {
  background-color: white;

}

.content {
  background-color: gray;
}

.important{
    color: white;
    background-color: red;
}